@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
    font-family: nunito, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #0093E9;
    background-image: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%);
    overflow: scroll;
}

.jumbotron-text-center {
    color: white;
    margin-bottom: 100px;
    text-align: center;
}

.jumbotron-text-center h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.row {
    margin-bottom: 10px;
    color: white;
    column-gap: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    margin-left: 75px; 
    width: 90px;
}

img:active {
    margin-left: 75px; 
    width: 90px;
    transform: scale(1.2);
    cursor: grabbing;
}

.first {
   border-radius: 25px;
   border: 2px solid rgba(255, 255, 255, .15); 
   background-color: rgba(255, 255, 255, .15);  
   backdrop-filter: blur(5px);
  
}

.first:hover {
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, .15); 
    background-color: rgba(211, 211, 211, 0.15);  
    backdrop-filter: blur(5px);
 }

.second {
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, .15); 
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
 }

 .second:hover {
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, .15); 
    background-color: rgba(211, 211, 211, 0.15);  
    backdrop-filter: blur(5px);
 }

 .third {
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, .15); 
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
 }

 .third:hover {
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, .15); 
    background-color: rgba(211, 211, 211, 0.15);  
    backdrop-filter: blur(5px);
 }